.homeview {
  .homeview-header {
    position: relative;
    height: 100vh;
    .play-vid,
    .down {
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
    }
    .play-vid {
      top: 50%;
      width: 60px;
      cursor: pointer;
    }
    .down {
      top: 95%;
      width: 40px;
    }
    .showcase {
      width: 100%;
      height: 100%;
      .hero {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 40% top;
        vertical-align: middle;
      }
    }
  }
  .shopping-guide {
    background-color: #ffffff;
    padding: 100px 0;
    .container {
      width: 80%;
      max-width: 800px;
      margin: auto;
      .info {
        text-align: center;
        font-size: 40px;
      }
    }
  }
  .gender-guide {
    position: relative;
    height: 100vh;
    background-image: url('https://cdn.shopify.com/s/files/1/0654/5561/t/2/assets/home-list-2_1920x1100.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    .gender-nav {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -30%);
      .gender-nav-btn {
        display: block;
        width: 280px;
        font-weight: bold;
        font-size: 25px;
        padding: 30px 30px;
        margin: 0 0 15px 0;
      }
    }
  }
  .featured-prds {
    padding: 100px;
    .container {
      text-align: center;
      width: 85%;
      margin: auto;
      .title {
        text-align: center;
        font-size: 35px;
        margin: 0 0 60px 0;
      }
      .prds-colln {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        .prd {
          margin: 0 0 75px 0;
          cursor: pointer;
          .prd-title {
            text-align: center;
            font-size: 35px;
            font-weight: bold;
            margin: 0 0 50px 0;
          }
          .prd-img-container {
            width: 90%;
            margin: auto;
            .prd-img {
              width: 100%;
            }
          }
        }
      }
      .view-colln-btn {
        padding: 30px;
        width: 450px;
        text-align: center;
        background: #e4e4e4;
        font-weight: 600;
        font-size: 25px;
        margin: 50px 0 0 0;
      }
    }
  }
  .extra-showcase {
    height: 100vh;
    background-image: url('https://cdn.shopify.com/s/files/1/0654/5561/t/2/assets/home-slider-2_1920x1000.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .contact {
    background-color: black;
    .container {
      max-width: 500px;
      margin: auto;
      text-align: center;
      padding: 200px 0;
      color: #fff;
      .top-text {
        font-size: 50px;
        margin: 0 0 50px 0;
      }
      .line {
        width: 20px;
        color: silver;
        margin: 0 auto 50px auto;
      }
      .number {
        color: #959595;
        font-size: 35px;
      }
      .mail {
        color: #8e8e8e;
        font-size: 30px;
      }
    }
  }
  .main-footer {
    .footer-top {
      .container {
        padding: 150px 0;
        max-width: 600px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        .social-link {
          font-size: 20px;
          background: none;
          cursor: pointer;
          font-weight: bold;
        }
      }
    }
    .footer-bottom {
      background-color: #dfdfdf;
      .container {
        max-width: 90%;
        margin: auto;
        padding: 0px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .text,
        .link {
          text-align: center;
          padding: 0px 20px;
          margin: 0 20px 0 0;
          border-right: 2px solid black;
          font-size: 15px;
          font-weight: bold;
          margin: 10px 0;
        }
        :nth-child(5) {
          border-right: none;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .homeview {
    .featured-prds {
      padding: 50px 40px;
      .container {
        width: 90%;
        .prds-colln {
          .prd {
            .prd-title {
              font-size: 25px;
            }
          }
        }
        .view-colln-btn {
          padding: 20px 0;
          width: 200px;
          font-size: 15px;
          margin: 50px 0 0 0;
        }
      }
    }
  }
}

@media (max-width: 1500px) {
  .homeview {
    .featured-prds {
      padding: 100px 50px;
      .container {
        width: 90%;
      }
    }
  }
}

@media (max-width: 900px) {
  .homeview {
    .featured-prds {
      padding: 50px 20px;
      .container {
        width: 95%;
        .prds-colln {
          display: grid;
          grid-template-columns: 50% 50%;
          .prd {
            .prd-title {
              font-size: 20px;
            }
          }
          :nth-child(9) {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .homeview {
    // .homeview-header {
    //   .showcase {
    //     .hero {
    //     }
    //   }
    // }
    .gender-guide,
    .extra-showcase {
      background-attachment: initial;
    }
    .main-footer {
      .footer-top {
        .container {
          width: 80%;
          margin: auto;
          .social-link {
            font-size: 15px;
          }
        }
      }
      .footer-bottom {
        margin-bottom: 66px;
      }
    }
  }
}

@media (max-width: 650px) {
  .homeview {
    .main-footer {
      .footer-bottom {
        .container {
          .text,
          .link {
            font-size: 12px;
            border-left: 0px solid black;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .homeview {
    .homeview-header {
      height: 80vh;
    }
    .gender-guide {
      .gender-nav {
        .gender-nav-btn {
          display: block;
          width: 200px;
          font-weight: bold;
          font-size: 17px;
          padding: 15px 15px;
          margin: 0 0 15px 0;
        }
      }
    }
    .contact {
      background-color: black;
      .container {
        color: #fff;
        .top-text {
          font-size: 35px;
          margin: 0 0 30px 0;
        }
        .line {
          width: 20px;
          margin: 0 auto 30px auto;
        }
        .number {
          font-size: 25px;
        }
        .mail {
          font-size: 20px;
        }
      }
    }
    .main-footer {
      .footer-bottom {
        .container {
          // justify-content: space-between;
          align-items: center;
          .text,
          .link {
            padding: 0;
            width: 100%;
            border: none;
            padding: 10px;
            text-align: left;
            font-size: 15px;
            margin: 10px 0;
          }
          .text {
            text-align: center;
            margin: 20px 0 20px 0;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .homeview {
    .shopping-guide {
      padding: 80px 0;
      .container {
        .info {
          font-size: 25px;
        }
      }
    }
    .featured-prds {
      padding: 50px 10px;
      .container {
        width: 100%;
        .prds-colln {
          .prd {
            .prd-title {
              font-size: 17px;
            }
          }
        }
        .view-colln-btn {
          padding: 20px 0;
          width: 170px;
          font-size: 12px;
          margin: 50px 0 0 0;
        }
      }
    }

    .main-footer {
      .footer-top {
        .container {
          padding: 70px 0;
          .social-link {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .homeview {
    .shopping-guide {
      .container {
        .info {
          font-size: 20px;
        }
      }
    }
  }
}
